[submodule "scarlet-auth"]
	path = scarlet-auth
	url = ../scarlet-auth.git
[submodule "scarlet-user"]
	path = scarlet-user
	url = ../scarlet-user.git
[submodule "scarlet-gateway"]
	path = scarlet-gateway
	url = ../scarlet-gateway.git
[submodule "scarlet-react"]
	path = scarlet-react
	url = ../scarlet-react.git
[submodule "scarlet-android"]
	path = scarlet-android
	url = ../scarlet-android.git
